:root {
  --zindex-header: 3; // e.g., main header component
  --zindex-popover: 5; // e.g., tooltips and dropdown
  --zindex-fixed-element: 10; // e.g., 'back to top' button
  --zindex-overlay: 999; // e.g., modals and dialogs
}