/* -------------------------------- 

File#: _2_listing-main
Title: Team
Descr: A gallery of team members
Usage: codyhouse.co/license

-------------------------------- */

.listing-main {
    padding-top: var(--space-lg);
}