/* -------------------------------- 

File#: _2_notifications-popover
Title: Notifications Popover
Descr: A popover containing a list of notification items
Usage: codyhouse.co/license

-------------------------------- */

.notif-popover {
    --popover-width: 280px;
  
    .notif {
      --notif-figure-size: 40px;
    }
  }
  
  @include breakpoint(md) {
    .notif-popover {
      --popover-width: 360px;
    }
  }
  
  .notif-popover-control {
    height: 2.6em;
    width: 2.6em;
    border-radius: 50%;
    display: inline-flex;
    background-color: var(--color-contrast-lower);
    transition: .3s;
  
    .icon {
      margin: auto;
      font-size: 20px; // icon size
      display: block;
    }
  
    &:active {
      transform: translateY(2px);
    }
  
    &:hover {
      cursor: pointer;
      background-color: lightness(var(--color-contrast-lower), 0.95);
    }
  
    &.popover-control--active { // popover is visible
      background-color: alpha(var(--color-primary), 0.2);
      color: var(--color-primary); // icon color
    } 
  }