:root {
    // radius
    --radius: 0.25em; // border radius base size
}

h2 {
    padding-bottom: 0.3em;
}



// logo

.logo {
    font-family: "Libre Caslon Display", serif;
    font-size: 27px;
    color: alpha(var(--color-contrast-lower), var(--color-o, 1));
}

// default is 12
$grid-columns: 15 !default;

// all text links
a,
.link {
    text-decoration: none;
}

// body styles
body {
    overflow-x: hidden !important;
}

// custom ajax content loader
.custom-ajax-frame-loader {
    text-align: center;
    padding: 1rem;
    background-color: inherit;
}

// fix for dropdown behind table content
.int-table {
    overflow: visible !important;
}

// admin sidebar border color
.border-right-sidebar {
    border-right: 1px solid
        alpha(var(--color-contrast-lower), var(--border-o, 1));
}

:root {
    // radius
    --radius: 0.25em; // border radius base size
}

// custom ajax content loader
.custom-ajax-frame-loader {
    text-align: center;
    padding: 1rem;
    background-color: inherit;
}

// fix for dropdown behind table content
.int-table {
    overflow: visible !important;
}

// admin sidebar border color
.border-right-sidebar {
    border-left: 1px solid
        alpha(var(--color-contrast-lower), var(--border-o, 1));
}

// admin sub navigation
.menu-bar__item.has-text {
    width: auto;
    background-color: #fafafa;
    border-radius: 50px;
}

@media (min-width: 64rem) {
    .menu-bar .menu-bar__item.has-text:not(.icon-top) {
        border: 1px solid #dbd9d9;
        padding-right: 10px;
        border-radius: 10px;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
}

// custom modal
// styles on mobile view
@include breakpoint(md, "not all") {
    .custom-modal {
        padding: 0px;
        border-radius: 0px;

        .modal__content {
            max-width: 100%;
            border-radius: 0px;
        }
    }
}

// divider title on index page
.divider-title {
    margin-right: auto;
    font-family: var(--font-primary);
    background-image: linear-gradient(120deg, #008aeb 0%, #ffffff 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.3em;
    background-position: 0 100%;
    transition: background-size 0.25s ease-in;
    &:hover {
        background-size: 100% 88%;
    }
}
.mce-branding-powered-by {
    display: none;
}

.post-table-image-wrapper {
    // img link
    display: inline-block;
    width: 50px;
    height: 45px;
    border-radius: 10%;
    overflow: hidden;
    transition: transform 0.2s var(--bounce);

    &:hover {
        transform: scale(1.1);
    }

    img {
        display: block;
        width: inherit;
        height: inherit;
        object-fit: cover;
    }
}

.post-table-image {
    --author-img-size: 1.7em;
    align-items: center;
    grid-gap: var(--space-xs);
}

.hidden {
    display: none;
}

// Cover photo

.alert-cover-photo {
    width: 104%;
    padding: 10px;
    background: #daeffb;
    border-radius: 5px;
}

.btn-cover-photo {
    background: #fff;
    color: #000;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
}

#btnCancel {
    background: #f31414;
    color: #fff;
}
// CSS import for select2 library
@import "https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css";

.overflow-visible {
    overflow: visible !important;
}

.post-thumbnail-tags {
    margin-top: -36px;
}

.post-thumbnail-tags-sm {
    margin-top: -26px;
}

.post-thumbnail-tags,
.post-thumbnail-tags-sm {
    & > span {
        display: inline-block;
        padding: 5px;
        background-color: #fff;
    }
}

/* Flex */

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}